body {
  background-color: #EDBB99;
  width: 90%;
  margin: 20px;
  margin-left: 275px;
  text-align: center;
  }

h1{
	text-align: center;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: bold;
    font-size: 30px;
}

h2 {
	text-align: center;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: bold;
    font-size: 25px;
}

.wrapper {
	width: 720px;
	margin: auto 0px;
	
}
.shirts {
	width: 320px;
	float: left;
	margin: 10px;
	height: 238px;
	background-color: #D4EFDF;
	background repeat: no-repeat;
	background-position: bottom;
	
}

figure {
	display: block;
	width: 400px;
	height: 300px;
	margin: 0px;
	padding: 9px;
	text-align: left;

}

figure img {
	width: 300px;
	height: 200px;
	border: 1px solid black;
}

figcaption {
	padding-left: 0px;
	padding-top: 5px;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: bold;
	font-size: 15px;
}

